{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["twMerge"],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore"
}
